@page "/ipo"

<h1>Enter a number to count down from</h1>

<p style="color:red">Number must be less than 10,000 .</p>

<input @bind="InputString " />

<button class="btn btn-primary" @onclick="DoProcessing">Count!</button>

<p>Output: @OutputString </p>

@code

{

    private string InputString { get; set; }

    private string OutputString { get; set; }

    private void DoProcessing()

    {

        double num = double.Parse(InputString);
        
        OutputString = num.ToString();
        
        if (num > 10000)
        {
            OutputString = "Number is too big!";    
        }
        
        else {

            for (double i = num - 1; i > 0; i--)
            {
            
                OutputString += ( " " + i.ToString());
            }
        }
    }

}